// reset browser
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #f6f6f6;
}

$pageWidth: 1200px;
$pageCentered: true;


@mixin page {
    width: $pageWidth;

    @if $pageCentered==true {
        margin: 0 auto;
    }
}

.page {
    position: relative;
    overflow: hidden;
    @include page;


    &-items {
        margin: 50px 0;
    }

    &-item {
        margin-bottom: 15px;
        
        &:not(.animated) {
            opacity: 0;
        }

        .card {
            background: #fff;
            box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            overflow: hidden;

            .card-content {
                padding: 15px;
            }
        }
    }

    &-numbers {
        display: flex;
        justify-content: center;
        align-items: center;

        &-list {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
        }

        [data-target="previous"],
        [data-target="next"] {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: none;
            background-color: #ffffff;
            border: 1px solid #ccc;
            font-size: 20px;
        }

        [data-target="next"] {
            border-left: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        [data-target="previous"] {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }


    &-number {
        margin-left: -1px;

        a {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: inherit;
            border: 1px solid #ccc;
            background: #fff;
        }

        &.active {

            a {
                background: #ffc3ee;
                pointer-events: none;
            }
        }
    }
}